---
title: Meet Rockhopper
description: We design and code beautiful websites and applications for agile businesses and brands.
---
%div.clearfix
  %section.left
    %h2
      Ben Zalasky
      %span
        Code
    %p
      Born and raised in #{link_to('#STL', 'https://twitter.com/search?q=%23stl')}. Currently living in #{link_to('#SF', 'https://twitter.com/search?q=%23sf')}, working as a Software Engineer #{link_to('@Stipple', 'http://www.stipple.com')}. Responsible for the technical half of the Rockhopper equation.   

    = image_tag('ben.jpg') 

  %section.right
    %h2
      Niles Mattox
      %span
        Design
    %p
      Resides in #{link_to('#STL', 'https://twitter.com/search?q=%23stl')}. Passionate about illustration, typography and electronic music. Responsible for the design half of the Rockhopper equation. 

    = image_tag('niles.jpg')