---
title: Meet Rockhopper
description: We design and code beautiful websites and applications for agile businesses and brands.
---

%h2
  We rock. We hop. Dig it?

%p
  Founded in June 2009, Rockhoper Digital is a consultancy focused on solving problems with technology and design. 

.clearfix
  %section.left
    %h2
      Benjamin Zalasky
      %span
        Technology
    %p
      Born and raised in #{link_to('#STL', 'https://twitter.com/search?q=%23stl')}. Currently living in #{link_to('#SF', 'https://twitter.com/search?q=%23sf')}, working as a Software Engineer #{link_to('@Stipple', 'http://www.stipple.com')}. Responsible for technology, production and strategy.   

    = image_tag('ben.jpg') 

  %section.right
    %h2
      Niles Mattox
      %span
        Design
    %p
      Resides in #{link_to('#STL', 'https://twitter.com/search?q=%23stl')}. Passionate about illustration, typography and electronic music. Responsible for making beautiful things.

    = image_tag('niles.jpg')