---
title: User-friendly Websites
description: Fast load times and mobile optimization ensure the best experience for your audience.
---

%h2
  Static Sites vs. Dynamic Sites

%p
  With any web project, it's important for us to understand your purpose and goals. We've launched websites on dynamic CMS platforms, and static sites. #{link_to('Rockhopper Digital', 'meet-rockhopper')} can help you determine which solution meets your needs best. 

%p
  There is really only one reason to go with a dynamic CMS, like WordPress, and that's if you (or your staff) will be updating your site on a regular basis (more than once a month), and you don't have a technical team in-house. WordPress is a brilliantly simple solution for blogging and managing content on a frequently updated site. Rockhopper's own site ran on this platform for almost three years. For more information about Wordpress, checkout #{link_to('WordPress.org', 'http://wordpress.org/')}, or the #{link_to('WordPress Codex','http://codex.wordpress.org/')}.  

%p
  The alternative is going with a static site. The site you're looking at right now is static in production. However, by leveraging the open source #{link_to('Middleman','http://middlemanapp.com/')} project, we're able to use several time saving modern web development technologies (#{link_to('HAML', 'http://haml.info/')}, #{link_to('SASS', 'http://sass-lang.com/')}, Partials and Ruby Helper Methods) that allow us to get sites launched faster. Static sites load lightening fast and lack security vulnerabilities that need to be taken into consideration when deploying a CMS.

%p
  Regardless of which solution is right for your needs, Rockhopper will make sure your site is served up as fast as possible, secured from hackers and optimized to work on tablets and mobile devices.    

%p
  Don't hesitate to #{link_to('contact us today','hire-us')} if you have any questions about what approach might be right for your site.

%h2
  Our Design Process

%p
  Once we've agreed on a timeline and budget, Rockhopper will build a functional prototype around your content. Though not every shop builds sites this way, we believe that content, be it text, images or video, is the heart of any meaningful web experience. The best designs are always built on #{link_to('a solid foundation of content', 'articles')}. Not everybody is prepared with ten pages of copy, or all the images they need when they set out to launch a new website, so we'll work with you to edit your existing content, or help you find rockstar copywriters and production studios to give your business or brand an edge over your competitors.

%p
  After the content is in place, we'll be able to leverage a set information architecture to craft the best user experience for your audience. This is the first phase of building out your site. Page structure, general layout, navigation methods, forms, maps and responsive behavior are all included in the first phase. The second phase focuses on the aesthetic surface of your site. We can work within your existing branding or help you build a new image for your business or brand (including color palettes, typography, iconography, textures and logos).

%p
  If this process seems like a good fit for your future site, please #{link_to('contact us', 'hire-us')} with information about your project, budget and timeline. 